*{
    margin:0 !important;
    padding:0 !important;
}
.logo{
   width:64px;
   height:55px;
}
.navbar{
    position:fixed;
    width:100%;
    background-color:white;
    top:0;
}
.Reason-container img{
    width:105px;
    height: 105px;
}
.Reasonstoconnect{
    display:grid;
    height:70vh;
    grid-template-columns: 10vw 10vw 10vw 10vw;
    justify-content:space-around;
    padding-top: 120px !important;
    padding-bottom:30px !important;
}
.nav-container{
    position:relative;
}
.title{
    font-size:25px !important;
}
.nav-btns{
   position:absolute;
   right:0;
   margin-right:10px !important;
}
.nav-links{
    position:absolute;
    right:13vw;
}
.navbar .btn{
    padding:5px 15px !important;
    font-weight:600;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-section{
    background-image:url("Images/Backgroundimage.png");
    background-size:cover;
    background-repeat:no-repeat;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.navbar ul{
    justify-self:end !important;
    margin-bottom: 3px !important;
}
.nav-links{
    margin-right:25px !important;
}
.courses-section{
    padding:100px !important;
    height:90vh;
    margin-top:20px;
    text-align:center;
    
}
.courses-container{
    margin-top:60px !important;
    flex-wrap:wrap;
}
.Newsletter{
    padding:25px !important;
    padding-bottom:25vh !important;
    height:25vh;
    background-color: rgb(231, 229, 229);
}
.course-card{
    width:300px;
    height:53vh;
    border:1px solid #ccc;
    border-radius:5px;
    padding:40px !important;
    transition: linear ease 1s;
    
}
.course-card h3{
    margin-bottom:15px !important;
}
.course-card img{
    width:100px;
    height:100px;
    border-radius:50%;
}
.Blog-container{
    display:grid;
    grid-template-columns: 30vw 30vw;
} 
.Blog-card{
    width:25vw;
    border-radius: 12px;
    height:fit-content;
    padding-bottom: 20px !important;
}
.Blog-card h3,.Blog-card h5,.Blog-card p{
    padding-left: 10px !important;
    padding-right: 10px !important;
}
p{
    text-align: justify;
}
.Blog-card h5{
    margin-top: 20px !important;
}
.Blog-card img{
  width:100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height:150px;
}
.Blog-card button{
    margin-left: 10px !important;
}
.course-card:hover{
    width:310px;
    height:53vh;
    box-shadow:0 2px 15px rgba(0,0,0,0.1);
}
.course-card button:hover{
    background-color: aliceblue;
    color:blue;
}
.whyLearnhub{
   height:70vh;
   padding-top:30px !important;
}
.Blog-container{
    height:140vh;
}
.Our-Blogs{
    height:150vh;
    padding-bottom: 170vh !important;
}
    
footer{
    height:50vh;
    background-color: black;
    padding:20px !important;
    justify-content: space-between;
}

@media screen and (max-width:480px){
    .navbar ul{
        margin-left: 10px !important;
    }
    .navbar .login-btn{
        margin-top: 10px !important;
    }
    .register-btn{
        margin-bottom: 10px !important;
    }
    .nav-links{
        position:relative;
        left:0;
        margin-right:75vw !important;
        margin-top: 10px !important;
    }
    .nav-btns{
        position:relative;
        margin-right:80vw !important;
    }
    .main-section p{
        font-size:16px !important;
    }
    .whyLearnhub{
        height: 130vh !important;
        padding-top:50px;
    }
    .Reasonstoconnect{
        display:flex;
        flex-direction: column !important;
        height:90vh !important;
        padding:0 !important;
        align-items: center;
    }
    .Reason-container{
        width:30vw;
        margin-top: 20px !important;
        margin-bottom: 40px !important;
    }
    .courses-section,.courses-container{
        height:280vh !important;
    }
    .courses-container{
        display:flex;
        justify-content: center;
        margin-top:5vh !important;
        padding-bottom: 30vh !important;
    }
    .course-card button,.course-card p{
        margin-top: 30px !important;
    }
    .course-card button{
        height:40px;
        overflow:hidden;
    }
    .course-card{
        width:170vw !important;
        height:fit-content !important;
    }
    .Our-Blogs,.Blog-container{
        height:380vh;
    }
    .Blog-container{
        display:grid;
        grid-template-columns: 60vw;
    }
    .Blog-card{
        width:60vw;
    }
    .Newsletter input{
        width:50vw !important;
    }
    footer{
        height:fit-content;
    }
    footer .row{
        display:flex;
        flex-direction: column;
        height:fit-content;
    }
    footer .row .col{
        margin-bottom: 20px !important;
    }
    .col ul li{
        margin-bottom: 10px !important;
    }
}

@media screen and (min-width:481px) and (max-width:768px){
    .navbar ul{
        margin-left: 10px !important;
    }
    .navbar .login-btn{
        margin-top: 10px !important;
    }
    .register-btn{
        margin-bottom: 10px !important;
    }
    .nav-links{
        position:relative;
        left:0;
        margin-right:75vw !important;
        margin-top: 10px !important;
    }
    .nav-btns{
        position:relative;
        margin-right:80vw !important;
    }
    .main-section p{
        font-size:16px !important;
    }
    .whyLearnhub{
        height: 130vh !important;
        padding-top:50px;
    }
    .Reasonstoconnect{
        display:grid;
        grid-template-columns: 10vw 10vw;
        justify-content:space-around;
        height:90vh !important;
        padding-right: 50px !important;
        align-items: center;
    }
    .Reason-container{
        width:30vw;
        margin-top: 20px !important;
        margin-bottom: 40px !important;
    }
    .courses-section,.courses-container{
        height:280vh !important;
    }
    .courses-container{
        display:flex;
        justify-content: center;
        margin-top:5vh !important;
        padding-bottom: 30vh !important;
    }
    .course-card img{
        margin-top: 20px !important;
    }
    .course-card button,.course-card p{
        margin-top: 30px !important;
    }
    .course-card p,.course-card h3{
        margin-top: 35px !important;
    }
    .course-card button{
        margin-top:50px !important;
        margin-bottom: 50px !important;
        height:40px;
        overflow:hidden;
    }
    .course-card{
        width:50vw !important;
        height:76vh !important;
    }
}